//Цвет текста
$color-gray: #5B5F62
$color-title:#2D3134

//Основные цвета сайта
$color-bg:#FAF8ED
$color-orange: #F66F4D

//color link
$color-link: #2E476B

//calendar color
$bg-calendar:#F66F4D
$bg-calendar-grey:  #ebebeb 
$calendar-color-hover:#f44d23
$calendar-white: #ffffff 
$calendar-gray:rgb(104, 104, 104)
$calendar-black:  #000000 
$calendar-days-hover:#fbc7d4
$calendar-current-date: #c3c2c8
$calendar-border:#9796f0

//Черный и белый цвет сайта
$color-black: #000000
$color-white: #ffffff

//shadow
$box-shadow: (0px .4rem .4rem rgba(0, 0, 0, 0.3))
$shadow-h2: 0rem .4rem .4rem rgba($color-black, .25)
$shadow-cards: 0px 24px 90px rgba(192, 188, 161, 0.22)
$calendar-shadow:rgba(100, 100, 111, 0.2) 0px 0.7rem 2.9rem 0px

//Отступы
$container-width:144rem    
$margin-vertical-big: 8rem
$grid-width: 117rem
$gutter-horizontal: 6rem
$margin-vertical:3rem

//Типографика
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem