*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 10px 
.container
    position: relative
    z-index: 0
    background-color: $color-bg 
    width: $container-width
    margin: 0 auto
.logo
    width: 9.8rem
    height: 3.5rem  

[alt="man"] 
    margin-bottom: 5.3rem     